
    <div class="container-fluid recipe-list-container">
      <div class="row justify-content-md-center">
        <div class="col mx-auto">
          <nav aria-label="Page navigation example pagination-container">
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">Anterior</a></li>
              <li class="page-item active">
                <a class="page-link" href="#">
                  Do 10-Dic
                </a>
              </li>
              <li class="page-item"><a class="page-link" href="#">Lun 11-Dic</a></li>
              <li class="page-item"><a class="page-link" href="#">Ma 12-Dic</a></li>
              <li class="page-item"><a class="page-link" href="#">Mi 13-Dic</a></li>
              <li class="page-item"><a class="page-link" href="#">Ju 14-Dic</a></li>
              <li class="page-item"><a class="page-link" href="#">Vi 15 Dic</a></li>
              <li class="page-item"><a class="page-link" href="#">Sa 16-Dic</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="row recipe-card" [routerLink]="['/recipe',1]">
        <div class="col">
          <div class="card">
            <div class="card-header">
              Desayuno
            </div>
            <div class="card-body">
              <img class="rounded-circle recipe-image" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2275%22%20height%3D%2275%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2075%2075%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_1603cc5bac5%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A10pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_1603cc5bac5%22%3E%3Crect%20width%3D%2275%22%20height%3D%2275%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2219.34375%22%20y%3D%2242.15%22%3E75x75%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="...">
              <h4 class="card-title recipe-title">Pan tostado con aguacate</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="row recipe-card">
        <div class="col">
          <div class="card">
            <div class="card-header">
              A.M Snack
            </div>
            <div class="card-body">
              <img class="rounded-circle recipe-image" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2275%22%20height%3D%2275%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2075%2075%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_1603cc5bac5%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A10pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_1603cc5bac5%22%3E%3Crect%20width%3D%2275%22%20height%3D%2275%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2219.34375%22%20y%3D%2242.15%22%3E75x75%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="...">
              <h4 class="card-title recipe-title">Smothie de platano</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="row recipe-card">
        <div class="col">
          <div class="card">
            <div class="card-header">
              Comida
            </div>
            <div class="card-body">
              <img class="rounded-circle recipe-image" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2275%22%20height%3D%2275%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2075%2075%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_1603cc5bac5%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A10pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_1603cc5bac5%22%3E%3Crect%20width%3D%2275%22%20height%3D%2275%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2219.34375%22%20y%3D%2242.15%22%3E75x75%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="...">
              <h4 class="card-title recipe-title">Ensalada de garbanzos</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="row recipe-card">
        <div class="col">
          <div class="card">
            <div class="card-header">
              P.M. Snack
            </div>
            <div class="card-body">
              <img class="rounded-circle recipe-image" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2275%22%20height%3D%2275%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2075%2075%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_1603cc5bac5%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A10pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_1603cc5bac5%22%3E%3Crect%20width%3D%2275%22%20height%3D%2275%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2219.34375%22%20y%3D%2242.15%22%3E75x75%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="...">
              <h4 class="card-title recipe-title">Ricotta Rye</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="row recipe-card">
        <div class="col">
          <div class="card">
            <div class="card-header">
              Cena
            </div>
            <div class="card-body">
              <img class="rounded-circle recipe-image" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2275%22%20height%3D%2275%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2075%2075%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_1603cc5bac5%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A10pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_1603cc5bac5%22%3E%3Crect%20width%3D%2275%22%20height%3D%2275%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2219.34375%22%20y%3D%2242.15%22%3E75x75%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="...">
              <h4 class="card-title recipe-title">Ragu con carne</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    