.recipe-list-container{
    margin-top: 20px;
}

.pagination-container{
    width: 800px;
    margin: 0;
}

.recipe-image{
    display: inline;
    margin-right: 10px;
    width: 100px;
    height: 100px;
}

.recipe-title{
    display: inline;
}

.recipe-card{
    margin-bottom: 20px;
}
