<div class="container recipe-container" *ngIf="recipe">
  <div class="container image-container">
    <div class="row image">
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col">
        <h1>{{recipe.name}}</h1>
      </div>
    </div>
    <div class="row recipe">
      <div class="col">
        <h4>Ingredientes:</h4>
        <ul>
          <li *ngFor="let i of recipe.ingredients">{{i.quantity}} {{i.name}}</li>
        </ul>
      </div>
      <div class="col-sm-8">
        <h4>Preparacion:</h4>
        <p>{{recipe.instructions}}</p>
      </div>
    </div>
  </div>

</div>

