.recipe-container{
    margin-top: 20px;
}

.recipe{
    margin-top: 20px;
}

.image-container{
    margin-bottom: 10px;
}

.image-div{
    margin: 0 auto;
}

.image{
    height: 525px;
    width: 700px;
}

.image-black{
    background-color: black;
    height: 300px;
}

