<div class="container recipe-container" *ngIf="recipe">
  <div class="container image-container">
    <div *ngIf="recipe.imageUrl" class="row">
      <div class="col-sm"></div>
      <div class="col-sm">
        <img class="image" [src]="recipe.imageUrl" alt="Card image cap">
      </div>
      <div class="col-sm"></div>
    </div>
    <div *ngIf="!recipe.imageUrl" class="row image-black">
      <label class="btn btn-default">
        <input type="file" (change)="selectFile($event)">
      </label>

      <button class="btn btn-success" [disabled]="!selectedFiles" (click)="upload()">Upload</button>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-10">
        <h1>{{recipe.name}}</h1>
        <span class="badge badge-secondary">{{group}}</span>
        <span class="badge badge-secondary">{{time}}</span>
        <span class="badge badge-primary">Prep: {{recipe.prepTime}} min</span>
        <span class="badge badge-primary">Cook: {{recipe.cookTime}} min</span>
        <span class="badge badge-danger">Serves: {{recipe.serves}}</span>
      </div>
      <div *ngIf="canSetFavorites" class="col-sm-2">
        <button *ngIf="recipe.imageUrl" type="button" class="btn btn-primary" (click)="remove()">Quitar imagen</button>
        <button *ngIf="!recipe.isFavorite" (click)="toggleFavorite()" type="button" class="btn btn-primary">Marcar como favorito</button>
        <button *ngIf="recipe.isFavorite" (click)="toggleFavorite()" type="button" class="btn btn-outline-primary">Quitar Favorito</button>
      </div>
    </div>
    <div class="row recipe">
      <div class="col">
        <h4>Ingredientes:</h4>
        <ul>
          <li *ngFor="let i of recipe.ingredients">{{i.quantity}} {{ getUnitName(i.unit) }} {{i.name}}</li>
        </ul>
      </div>
      <div class="col-sm-8">
        <h4>Preparacion:</h4>
        <p *ngFor="let i of recipe.instructions.split('\n\n')">{{i}}</p>
      </div>
    </div>
    <div id="accordion">
      <div class="card" *ngIf="favoriteRecipes.length > 0">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Favoritos
            </button>
          </h5>
        </div>
        <div id="collapseOne" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordion">
          <!-- ToDo: Poner esto en un componente -->
          <div class="d-flex flex-wrap justify-content-center">
            <recipe-thumbnail [recipe]="r" *ngFor="let r of favoriteRecipes"></recipe-thumbnail>
          </div>
        </div>
      </div>
      <div class="card" *ngIf="similarRecipes">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
              Parecidos
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse hide" aria-labelledby="headingTwo" data-parent="#accordion">

          <div class="d-flex flex-wrap justify-content-center">
            <recipe-thumbnail [recipe]="r" *ngFor="let r of similarRecipes"></recipe-thumbnail>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
