<div class="container recipe-container" *ngIf="recipe">
  <div class="container image-container">
    <div *ngIf="recipe.image"  class="row">
        <div class="col-sm"></div>
        <div class="col-sm"><img class="image" [src]="recipe.image" alt="Card image cap"></div>
        <div class="col-sm"></div>
    </div>
    <div *ngIf="!recipe.image"  class="row image-black">
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col">
        <h1>{{recipe.name}}</h1>
      </div>
    </div>
    <div class="row recipe">
      <div class="col">
        <h4>Ingredientes:</h4>
        <ul>
          <li *ngFor="let i of recipe.ingredients">{{i.quantity}} {{ getUnitName(i.unit) }} {{i.name}}</li>
        </ul>
      </div>
      <div class="col-sm-8">
        <h4>Preparacion:</h4>
        <p *ngFor="let i of recipe.instructions.split('\n\n')" >{{i}}</p>
      </div>
    </div>
  </div>
</div>

