<div class="header-container">
    <span>{{ groupTitle }}</span>
</div>
<div class="grocery-container">
    <div class="d-flex flex-wrap">
        <div class="card grocery-card" *ngFor="let i of ingredients">
            <div class="card-body form-check ">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="">
                    <span class="grocery-number">{{i.quantity}} {{ getUnitName(i.unit) }}</span> {{i.name}} 
                </label>
            </div>
        </div>
    </div>
</div>