<div class="card">
  <div class="card-body">
    <h4 class="card-title">Opciones</h4>
    <div class="row">
      <div class="col-sm-4">
        <div class="btn-group">
          <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Selecciona un grupo
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item">Grupo 1</a>
            <a class="dropdown-item">Grupo 2</a>
            <a class="dropdown-item">Grupo 3</a>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Palabra clave..." aria-label="Palabra clave...">
          <span class="input-group-btn">
            <button class="btn btn-secondary" type="button">Buscar!</button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>