<div class="header-container">
  <span>Recetas</span>
</div>
<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-lg-3">
        <div class="btn-group">
          <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ weekTitle }}
          </button>
          <div class="dropdown-menu">
            <a *ngIf="weekTitle != 'Semana'" class="dropdown-item" (click)="selectWeek(null)">Borrar</a>
            <a *ngFor="let week of weeks" class="dropdown-item" (click)="selectWeek(week.name)">Semana {{ week.name }}</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="btn-group">
          <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ timeTitle }}
          </button>
          <div class="dropdown-menu">
            <a *ngIf="timeTitle != 'Hora del Dia'" class="dropdown-item" (click)="selectTime(-1)">Borrar</a>
            <a class="dropdown-item" (click)="selectTime(1)">Desayuno</a>
            <a class="dropdown-item" (click)="selectTime(2)">A.M. Snack</a>
            <a class="dropdown-item" (click)="selectTime(3)">Comida</a>
            <a class="dropdown-item" (click)="selectTime(4)">P.M. Snack</a>
            <a class="dropdown-item" (click)="selectTime(5)">Cena</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="btn-group">
          <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ groupTitle }}
          </button>
          <div class="dropdown-menu">
            <a *ngIf="groupTitle != 'Grupo'" class="dropdown-item" (click)="selectGroup(-1)">Borrar</a>
            <a class="dropdown-item" (click)="selectGroup(1)">Grupo A</a>
            <a class="dropdown-item" (click)="selectGroup(2)">Grupo B</a>
            <a class="dropdown-item" (click)="selectGroup(3)">Grupo C</a>
            <a class="dropdown-item" (click)="selectGroup(4)">Grupo D</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" [(ngModel)]="onlyFavorites" (change)="filter()"> Solo favoritos
        </label>
      </div>
    </div>
  </div>
</div>
<div class="d-flex flex-wrap justify-content-center">
    <recipe-thumbnail [recipe]="r" *ngFor="let r of filteredRecipes"></recipe-thumbnail>
</div>
<button type="button" class="btn btn-primary bmd-btn-fab float-right add-button" [routerLink]="['/recipes/add']">
  <i class="material-icons">add</i>
</button>
