.recipe-card{
    width: 20rem;
}   
.add-button{
    margin-right: 1rem;
}

.width-columns-container{
    display: flex;
    flex-flow: row nowrap;
    flex: 1;
    min-width: 0;
    justify-content: center;
    align-items: center;
}